AWS_REGION=
BEDROCK_MODEL_ID=



MAX_FILE_SIZE_MB=20
MAX_PAGE_COUNT=25
MIN_PDF_TEXT_CHARS_FOR_TEXT_MODE=250
MAX_PDF_RENDER_PAGES=25
MIN_IMAGE_MIN_SIDE_PX=1
MIN_IMAGE_TOTAL_PX=1
BLUR_SHARPNESS_THRESHOLD=-1.0
